@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.informasi img{
    transition: .5s;
}

.nav-link{
    font-family: 'Poppins';
}

.poppins{
    font-family: 'Poppins';
}

.informasi img:hover{
    transform: scale(1.1);
}

.jumbotron-header{
    background-image: url(/asset/images/danau.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
}


.header-info span{
    display: block;
    text-transform: uppercase;
}

.text1{
    font-family: 'Lobster', cursive;
    font-size: 55px;
    color: white;
    text-align: center;
    margin-top: 150px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s 1;
    background: black;
}

.text2{
    font-size: 30px;
    color: black;
    text-align: center;
}

@keyframes text{
    0%{
        color: black;
        margin-bottom: -70px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

/* Home */
nav{
    background: transparent;
    transition: .6s;
}

.navbar-brand{
    font-family: Viga;
    font-size: 25px;
    font-weight: 500;
}

.bg-dark{
    padding: 20px 10px;
}

.main_search{
    width: 300px;
    height: 40px;
    background: none;
    outline: none;
    border: none;
    border-bottom: solid;
    font-size: 20px;
}
.main_search::placeholder{
    color: black;
    font-size: 20px;
}
.fa-search{
    font-size: 25px;
    color: black;
}
.height-nav{
    height: 80px;
}
.hr-comment{
    height: 2px;
    background-color: red;
}


body {
background: #fff;
font-size: 14px;
color:#000;
margin: 0;
padding: 0;
}

.info-posting{
    font-family: 'Poppins';
}

p{
    font-family: 'Poppins';
    text-align: justify;
}

.wave{
position: absolute;
bottom: 0;
left: 0;
}

.teks-info{
    font-family: 'Poppins';
}

.info-panel{
    background-color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -50px;
    padding: 30px;
}

.info-panel img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins';
    margin-top: 5px;
}

.info-panel p{
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
}

.info-panel .link-panel{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    margin-top: 25px;
}

/* Link Terkait */

.link_terkait{
    color: black;
}

/* Single Post */

.single-image{
    box-shadow: 1px 1px 15px black;
    border-radius: 5px;
}

/* All Information */

.heading-wisata{
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #000;
    position: relative;
}

.heading-wisata::after{
    content: "";
    width: 10rem;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

.div-footer p{
    text-indent: 0%;
}

/* Desktop Version */

@media (min-width: 992px) {
    .text1{
        font-size: 60px;
    }

    .div-footer{
        border-right: 0px solid black;
    }
}
